<form method="POST">
    <input type="hidden" id="id" name="id" value="{{_id}}">
    <textarea rows="40" cols="200%" name="document" id="document">{{document}}</textarea>
    <br>
    <button style="cursor: pointer;" type="submit">Lưu</button>
</form>